html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root main {
  flex: 1 0 auto;
}

body {
  height: 100%;
  font-family: "Noto Sans KR";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Quicksand/static/Quicksand-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Roboto_Mono/RobotoMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf) format("opentype");
}
